<%- include partials/header.ejs %>
<body>
    <%- include partials/navbar.ejs %>
    <div class="container">  
        <br>
        <h1 class = "tituloPergunta"><%= pergunta.titulo %></h1>
        <h4 class = "categoriaPergunta"><%= pergunta.categoria %></h4>
        <p><%= pergunta.descricao %></p><br>
        <p>Categoria: <%= pergunta.categoria %></p>
        <hr>
        <form method="POST" action="/responder">
           <br>
            <label>Resposta:</label>
            <textarea placeholder="Digite sua resposta" class="form-control" name="corpo"></textarea><br>
            <input type="hidden" name="pergunta" value="<%= pergunta.id %>">
            <button type="submit" class="btn btn-success">Responder</button>
        </form>
        <br>
        <h3>Respostas anteriores para essa pergunta:</h3>
        <% respostas.forEach(resposta => { %>
            <div class = 'list-group'>
                <br>
                <li class = 'list-group-item'>
                    <%= resposta.corpo %>
            </div>
        <% }) %>
    </div>
</body>
<%- include partials/footer.ejs %>
